<form class="uk-container uk-position-center" method="post">
    <h2 class="uk-text-large uk-text-bold">URL Shortener</h2>
    <p class="uk-text-muted">Encurtador de links personalizados com a nossa marca!</p>
    <input type="text" placeholder="URL" class="uk-input uk-margin"/>
</form>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.21.6/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.21.6/dist/js/uikit-icons.min.js"></script>
