<form class="uk-container uk-position-center" method="post" action="/api/short">
  <h2 class="uk-text-large uk-text-bold">URL Shortener</h2>
  <p class="uk-text-muted">
    Encurtador de links personalizados com a nossa marca!
  </p>
  <input
    name="url"
    id="url"
    type="text"
    placeholder="URL"
    class="uk-input uk-margin"
  />
  <button class="uk-button uk-button-primary">Encurtar</button>
</form>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.21.6/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.21.6/dist/js/uikit-icons.min.js"></script>
